body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}
.center-fit {
  width: 100%;
}

.head {
  display: flex;
}
ul {
  padding-top: 100px;
  list-style-type: none;
}
li {
  display: inline;
  padding: 20px;
}
li a {
  display: inline-block;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: large;
}
p {
  color: white;
  font-size: medium;
}
.content {
  display: flex;
  flex-wrap: wrap;
  padding: 42px;
  flex-direction: column;
}

.images {
  display: flex;
  background-color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 120px;
}
.photos img {
  display: block;
  float: left;
  flex: 0 0 auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.gallery_img:hover {
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 30px;
}

button {
  color: black;
  border: cadetblue;
  height: 30px;
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: center;
  padding: 8px;
}

SELECT {
  height: 30px;
  border: cadetblue;
  margin: 30px;
  font-size: large;
}
